@model Cypisek.ViewModels.MediaLibrary.MediaFileViewModel

@{
    ViewBag.Title = "Usuwanie pliku";
}

<h2>Usuwanie pliku</h2>

<h3>Potwierdź usunięcie pliku</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileSize)
        </dd>

        <dt>
            W harmonogramach:
        </dt>

        <dd>
            @for (int i = 0; i < Model.ScheduleNames.Count; i++)
            {
                @Html.DisplayFor(model => model.ScheduleNames[i])
                <text>,</text>
            }
        </dd>

    </dl>

    <p class="text-danger">
        @ViewBag.Message
    </p>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.HiddenFor(model => model.ID)

            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do listy", "FileBrowser")
        </div>
    }
</div>
