@model IEnumerable<Cypisek.ViewModels.MediaLibrary.MediaFileViewModel>

@{
    ViewBag.Title = "File Browser";
}

<h2>File Browser</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileSize)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileSize)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}
</table>

@using (Html.BeginForm("UploadFile",
                "MediaLibrary",
                FormMethod.Post,
                new { enctype = "multipart/form-data" }))
{
    <label for="file">Upload File:</label>
    <input type="file" name="file" id="file" /><br/>
    <input type="submit" value="Upload File" />
    <br/>
    @ViewBag.Message
}
