@model Cypisek.ViewModels.Clients.ClientManagerViewModel

@{
    ViewBag.Title = "Index";
}

@section scripts
{
    @*<script type="text/javascript" src="@Url.Content("/Scripts/jquery-1.10.2.min.js")"></script>*@
    <script type="text/javascript">
        $(".checkgroup").click(function () {
            $('#group' + this.id + ' input:checkbox').prop('checked', this.checked);
        });
    </script>
}



<h2>Index</h2>

<p>
    @Html.ActionLink("Utwórz grupę", "CreateGroup")
</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    int clientsCount = 0;

        foreach (Cypisek.ViewModels.ClientGroupViewModel group in Model.ClientsGroups)
        {
        <h2>
            <input type="checkbox" class="checkgroup" id="@group.ID"/>
            @*@Html.CheckBox("checkgroup" + group.ID)*@
            @Html.DisplayFor(gitem => group.Name)
        </h2>

        <div id="group@(group.ID)">
            @Html.Partial("_EndPlayerClientsSelectTable", group.EndPlayerClients, new ViewDataDictionary { { "clientsCount", clientsCount } })
        </div>
        clientsCount += group.EndPlayerClients.Count;
    }

    <h2>
        <input type="checkbox" class="checkgroup" id="empty" />
        Końcówki bez grupy
    </h2>
    <div id="groupempty">
        @Html.Partial("_EndPlayerClientsSelectTable", Model.ClientsWithoutGroup, new ViewDataDictionary() { { "clientsCount", clientsCount } })
    </div>

    <div class="form-horizontal">
        @Html.DropDownListFor(Model => Model.ClientsGroupsSL, Model.ClientsGroupsSL)
        <input type="submit" value="Ustaw grupę" class="btn btn-default" formaction="@Url.Action("SetGroup")" />
        @Html.DropDownListFor(Model => Model.ClientsSchedulesSL, Model.ClientsSchedulesSL)
        <input type="submit" value="Ustaw harmonogram" class="btn btn-default" formaction="@Url.Action("SetSchedule")" />
    </div>
}
