@model Cypisek.ViewModels.Clients.ClientManagerViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Utwórz grupę", "CreateGroup")
</p>

@foreach (Cypisek.ViewModels.ClientGroupViewModel group in
                Model.ClientsGroups)
{
    <h2>
        @Html.DisplayFor(gitem => group.Name)
    </h2>

    <table class="table">
        <tr>
            <th></th>
            @Html.Partial("_EndPlayerClientsTableHeader", group.EndPlayerClients.First())
        </tr>

        @foreach (Cypisek.ViewModels.EndPlayerClientViewModel epClient in
            group.EndPlayerClients)
        {

            <tr>
                <td>@Html.CheckBox("test")</td>
                @Html.Partial("_EndPlayerClientsTableRow", epClient)
            </tr>
        }

    </table>
    @*@Html.Partial("_EndPlayerClientsTable", group.EndPlayerClients)*@
}

<h2>
    Końcówki bez grupy
</h2>
@Html.Partial("_EndPlayerClientsTable", Model.ClientsWithoutGroup)



