@model Cypisek.ViewModels.EndPlayerClientViewModel

<td>
    @Html.DisplayFor(modelItem => Model.Name)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.IsConnected)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.LastConnectionDate)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.ClientSchedule.Name)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.IsSynchronized)
</td>