@model IEnumerable<Cypisek.ViewModels.Schedules.CampaignsIndexViewModel>

@{
    ViewBag.Title = "Lista kampanii";
}



@section scripts
{
    <link rel='stylesheet' href='@Url.Content("~/Content/fullcalendar.css")' type="text/css" />
    <script src='@Url.Content("~/Scripts/lib/jquery.min.js")'></script>
    <script src='@Url.Content("~/Scripts/lib/moment.min.js")'></script>
    <script src='@Url.Content("~/Scripts/fullcalendar.js")'></script>
    <script src='@Url.Content("~/Scripts/locale/pl.js")'></script>

    <script type="text/javascript">

        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        $(document).ready(function () {

            var schedulesAsEvents = [];

            @foreach (var cmp in Model)
            {
                <text> 
                    var gcolor = getRandomColor();
                </text>

                
                foreach(var sch in cmp.Schedules)
                {
                    <text>
                    schedulesAsEvents.push(
                        {
                            title: '@sch.Name',
                            start: '@sch.StartDate.ToUniversalTime().ToString("yyyy-MM-ddTHH:mm:ss")',
                            end: '@sch.ExpirationDate.ToUniversalTime().ToString("yyyy-MM-ddTHH:mm:ss")',
                            id: '@sch.ID',
                            backgroundColor: gcolor,
                            group: '@cmp.Name'
                        }
                    );
                    </text>
                }
            }

            $('#calendar').fullCalendar({
                events: schedulesAsEvents,
                header: {
                    left: 'title',
                    center: 'today',
                    right: 'month,agendaWeek prev,next'
                },
                editable: false,
                eventOverlap: false,
            });
        });

        //$("#calendar").toggle();

        function toggleDiv(divId) {

            $("#" + divId).toggle();

        }
    </script>
}

<h2>Lista kampanii</h2>

@*<button type="button" id="calendarBtn">Pokaż Kalendarz</button>*@
<a href="javascript:toggleDiv('calendar');" class="btn-primary">Pokaż-Ukryj Kalendarz</a>
@Html.ActionLink("Dodaj kampanię", "CreateCampaign")

<div id='calendar'></div>

<br />
<br />

    @foreach (var item in Model)
    {
        <table class="table-hover campaign-header">
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Dodaj harmonogram", "Create", new { cId = item.ID}) |
                    @Html.ActionLink("Edycja", "EditCampaign", new { id = item.ID }) |
                    @*@Html.ActionLink("Kalendarz", "cal", new { id = item.ID }) |*@
                    @*@Html.ActionLink("Usuń", "DeleteCampaign", new { id = item.ID })*@
                </td>
            </tr>
                <tr>
                <td>
                    @Html.DisplayNameFor(model => model.ClientsCount):
                    @Html.DisplayFor(modelItem => item.ClientsCount)
                </td>

            </tr>

        </table>


        @Html.Partial("_ClientSchedulesTable", item.Schedules)

        <hr />
    }


@section styles
{
    <style type="text/css">
        .campaign-header {
            font-size: larger      
        }
    </style>

}