@model IEnumerable<Cypisek.ViewModels.Schedules.CampaignsIndexViewModel>

@{
    ViewBag.Title = "Lista kampanii";
}

<h2>Lista kampanii</h2>

@Html.ActionLink("Dodaj kampanię", "CreateCampaign")


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientsCount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientsCount)
            </td>
            <td>
                @Html.ActionLink("Kalendarz", "cal", new { id = item.ID }) |
                @Html.ActionLink("Usuń", "DeleteCampaign", new { id = item.ID })
            </td>
        </tr>

        @*@Html.Partial("_ClientSchedulesTable", item.Schedules)*@
    }
</table>

